@media (min-width: map-get($grid-breakpoints, 'xs')) {
  .admin {
    background-color: $gray-200;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;

    ::-webkit-scrollbar {
      width: 5px;
    }

    ::-webkit-scrollbar-track {
      background: $white;
    }

    ::-webkit-scrollbar-thumb {
      background: $admin;
    }

    header {
      .card {
        .page-title,
        p {
          margin-bottom: 0;
        }
      }
    }

    .module {
      display: flex;
      flex-grow: 1;
      height: 100%;
      overflow: auto;
      width: 100%;

      .content {
        flex-grow: 1;
        padding: 0 24px;
        background: $gray-150;
      }
    }
  }
}
@media (min-width: map-get($grid-breakpoints, 'sm')) {
}
@media (min-width: 705px) {
}
@media (min-width: map-get($grid-breakpoints, 'md')) {
}
@media (min-width: map-get($grid-breakpoints, 'lg')) {
}
@media (min-width: map-get($grid-breakpoints, 'xl')) {
}
@media (min-width: map-get($grid-breakpoints, 'xxl')) {
}
